@model FileUpload.Models.ExcelChangesViewModel
@{

}
<div class="table-responsive mt-4">
    <table class="table table-bordered table-striped table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>

                <th>Changed By</th>
                <th>File Name</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>Change Date</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.ExcelChangesData != null)
            {
                foreach(var change in Model.ExcelChangesData)
                {
                    
                    <tr>
                        <td>@change.UserName</td>
                        <td>@change.FileName</td>
                        <td>@change.OldValue</td>
                        <td>@change.NewValue</td>
                        <td>@change.ChangeDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
                if (Model.isDeleted)
                {
                    <tr>
                        <td colspan="7" class="alert-danger alert">
                            <strong>
                                File Deleted on @Model.deteleTime

                            </strong>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-muted">No changes available</td>
                </tr>
            }
        </tbody>
    </table>
</div>
