@model FileUpload.Models.DataTransferModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

    .div-table-data {
        width: 11rem;
    }

    .radio-input input {
        display: none;
    }

    /* .div-table-data { */
    /*     width: 9rem; */
    /* } */

    .detail-table {
        max-height: 80vh;
        max-width: 80vw;
        overflow: auto;
    }

    .div-table-row {
        display: flex;
    }

    .div-table-data {
        /*    max-width:11vw;*/
        min-width: 11vw;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        word-break: break-all;
    }

    .radio-input {
        display: flex;
        flex-direction: column;
        width: 2rem;
    }

        .radio-input label {
            text-align: center;
        }

    .div-head {
        word-break: normal !important;
    }


    /* When the radio input is checked */
    .radio-input input:checked + label:nth-child(1) {
        color: #fff;
        background-color: rgb(255, 4, 4); /* Red color for the first label */
    }

    .radio-input input:checked + label:nth-child(2) {
        color: #fff;
        background-color: rgb(0, 172, 29); /* Green color for the second label */
    }



    /* When the radio input is disabled, prevent interaction */
    .radio-input input:disabled + label {
        cursor: not-allowed;
        opacity: 0.6; /* Dimmed label when input is disabled */
    }

    /* When the radio input is checked and disabled, retain the background color */
    .radio-input input:disabled:checked + label:nth-child(1) {
        background-color: rgba(255, 4, 4, 0.6); /* Lightened red when disabled and checked */
        color: #fff;
    }

    .radio-input input:disabled:checked + label:nth-child(2) {
        background-color: rgba(0, 172, 29, 0.6); /* Lightened green when disabled and checked */
        color: #fff;
    }

    /* Ensure the selection is visible and remains after disabling */
    .radio-input input:disabled:checked + label:nth-child(1) ~ .selection {
        background-color: rgba(255, 4, 4, 0.6);
        display: inline-block;
    }

    .radio-input input:disabled:checked + label:nth-child(2) ~ .selection {
        background-color: rgba(0, 172, 29, 0.6);
        display: inline-block;
    }


    .label-1 {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
    }

    .label-2 {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

</style>

@if (Model.ExcelValue != null && Model.ExcelValue.Count > 0)
{
    if (Model.DirectionValue != null)
    {
        <div>
            <strong>@Model.DirectionValue : @Model.SortedColumnName</strong>
        </div>
    }
    <div class="detail-table">
        <div class="table-div-main table">
            <div class="table-div-head">
                <div class="div-table-row">
                    @if (Model.ExcelValue != null && Model.ExcelValue.Count > 0)
                    {
                        foreach (var column in Model.ExcelValue[0].Keys)
                        {
                            // Exclude the "0" header and hide it
                            if (column == "RowId")
                            {
                                <!-- Hide the "0" column header -->
                                <div class="div-table-data div-head table-dark" style="display: none;"></div>
                            }
                            else
                            {
                                <div class="div-table-data div-head table-dark" style="padding: 5px; text-align: left;">
                                    <div class="data-div">
                                        @column
                                    </div>

                                    <div class="radio-input">
                                        <label class="label-1">
                                            <input onclick="sortExcel(this,'@column','asc')" type="radio" id="value-1" name="value-radio" value="1" />
                                            <span>▲</span>
                                        </label>
                                        <label class="label-2">
                                            <input onclick="sortExcel(this,'@column','desc')" type="radio" id="value-2" name="value-radio" value="2" />
                                            <span>▼</span>
                                        </label>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="table-div-body">
                @if (Model.ExcelValue != null && Model.ExcelValue.Count > 0)
                {
                    @foreach (var row in Model.ExcelValue.Select((row, index) => new { row, index }))
                    {
                        <div class="div-table-row" data-row-id="@row.index">
                            <!-- Include and hide the "0" column data but keep it available for other functionalities -->
                            @foreach (var cell in row.row.Where(kv => kv.Key == "RowId"))
                            {
                                <div class="div-table-data" style="display: none;" data-column="@cell.Key">@cell.Value</div>
                            }
                            @foreach (var cell in row.row.Where(kv => kv.Key != "RowId"))
                            {
                                <div class="div-table-data" id="editDiv" style="padding: 8px;" contenteditable="false" data-column="@cell.Key">@cell.Value</div>
                            }

                        </div>
                    }
                }
                else
                {
                    <div class="div-table-row">
                        <div colspan="100" style="text-align: center;">No data available</div>
                    </div>
                   
                }
                <div id="noRecordsMessage" class="alert alert-info text-center" style="display: none; width:89.3%;">
                    No records found.
                </div>
            </div>
        </div>


    </div>
}
@if (@Model.ErrorMsg != null)
{

    <div class="alert alert-danger">
        @Model.ErrorMsg
    </div>
}