@model IEnumerable<FileUpload.Models.FileUploadModal>
@using Microsoft.AspNetCore.Identity;



@{
    ViewData["Title"] = "Uploaded Files";
    int serialNumber = 1;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<style>
    .DataGrid-Head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .go-to-top-btn {
        position: fixed; /* Stays in a fixed position on the screen */
        bottom: 70px; /* Distance from the bottom */
        right: 50px; /* Distance from the right */
        z-index: 1000; /* Ensures it stays above other elements */
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 50px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        opacity: 0; /* Initially hidden */
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

        .go-to-top-btn:hover {
            background-color: #0056b3;
            transform: scale(1.1); /* Slight zoom effect on hover */
        }

        .go-to-top-btn.visible {
            opacity: 1; /* Make the button visible */
            visibility: visible; /* Ensure it's interactable */
        }

    .search {
        display: flex;
        position: relative;
        margin-bottom: 1rem;
        justify-content: center;
    }


        .search input[type="text"] {
            width: 250px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            outline: none; /* Remove the outline on focus */
        }

            .search input[type="text"]:focus {
                outline: none; /* Ensure no outline on focus */
            }


    #noRecordsMessage {
        display: none;
        width: 100%;
    }

</style>



<div class="DataGrid-Head">
    <h2>Uploaded Files</h2>
    <a asp-action="Index" class="btn btn-primary">Back to File Upload</a>
</div>
<div class="Error">
    @ViewBag.Message
</div>
<div class="Success">
    @ViewBag.MessageSuccess
</div>
@if (!Model.Any())
{
    <div class="alert alert-info">
        No records found.
    </div>
}
else
{
    <div class="search">
        <input id="searchInput" placeholder="Search..." type="text">
    </div>
    <div class="table-div">

        <table class="table table-striped table-bordered text-center align-middle" id="fileTable">
            <thead class="table-dark">
                <tr>
                    <th>Serial Number</th>
                    <th>Thumbnail</th>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Type</th>
                    <th>Uploaded On</th>
                    @if (User.IsInRole("Admin"))
                    {

                        <th>Status</th>
                        <th>Deleted by</th>
                        <th>Actions</th>

                    }
                    else
                    {
                        <th>Actions</th>

                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr id="noRecordsMessage" style="display: none;">
                        <td colspan="7" class="alert alert-info text-center">
                            No records found.
                        </td>
                    </tr>
                    <tr>

                        <td>@serialNumber</td>
                        <td style="max-width:7rem">

                            @if (file.Extention == ".xls" || file.Extention == ".xlsx")
                            {
                                <img src="/Images/Excel-logo.jfif" style="max-width:80%" />
                            }
                            else
                            {
                                <img src="/CompressedUploads/@file.Filename" style="max-width:100%" />
                            }
                        </td>
                        <td>@file.OriginalFilename</td>
                        <td>@file.FileSize KB</td>
                        <td>@file.FileType</td>
                        <td>@file.UploadedOn.ToString("g")</td>
                        @if (User.IsInRole("Admin"))
                        {
                            @if (file.IsDeleted)
                            {
                                <td class="text-danger"><strong>Deleted</strong></td>
                                <td>
                                    <strong> @(file.DeletedBy ?? "") </strong>
                                </td>
                                <td>
                                    <div class="buttons">
                                        <a asp-action="Details" asp-route-id="@file.Id" class="btn btn-secondary"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-info-circle"></i>' data-bs-html="true">
                                            View Details
                                        </a>
                                        <a asp-action="Download" asp-route-id="@file.Id" class="btn btn-info"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-download"></i>' data-bs-html="true">
                                            Download
                                        </a>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td class="text-success"><strong>Active</strong></td>
                                <td></td>
                                <td>
                                    <div class="buttons">
                                        <a asp-action="Details" asp-route-id="@file.Id" class="btn btn-secondary"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-info-circle"></i>' data-bs-html="true">
                                            View Details
                                        </a>

                                        <a asp-action="Download" asp-route-id="@file.Id" class="btn btn-info"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-download"></i>' data-bs-html="true">
                                            Download
                                        </a>

                                        <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("Delete", "FileUpload", new { id = file.Id })')"
                                           class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-trash"></i>' data-bs-html="true">
                                            Delete
                                        </a>

                                    </div>
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                <div class="buttons">
                                    <a asp-action="Details" asp-route-id="@file.Id" class="btn btn-secondary"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-info-circle"></i>' data-bs-html="true">
                                        View Details
                                    </a>

                                    <a asp-action="Download" asp-route-id="@file.Id" class="btn btn-info"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-download"></i>' data-bs-html="true">
                                        Download
                                    </a>

                                    <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("Delete", "FileUpload", new { id = file.Id })')"
                                       class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title='<i class="bi bi-trash"></i>' data-bs-html="true">
                                        Delete
                                    </a>

                                </div>
                            </td>
                        }
                    </tr>
                    serialNumber++;
                }
            </tbody>
        </table>

    </div>
}
<button id="goToTopButton" class="go-to-top-btn">↑ Go to Top</button>
<script>
    // Get the button element
    const goToTopButton = document.getElementById('goToTopButton');

    // Show the button when the user scrolls down 100px
    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            goToTopButton.classList.add('visible');
        } else {
            goToTopButton.classList.remove('visible');
        }
    });

    // Scroll smoothly to the top when the button is clicked
    goToTopButton.addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: 'smooth',
        });
    });


        // Trigger the search automatically as the user types
    document.getElementById("searchInput").addEventListener("input", function () {
        let input = document.getElementById("searchInput").value.toLowerCase();
        let rows = document.querySelectorAll("#fileTable tbody tr");
        let noRecordsMessage = document.getElementById("noRecordsMessage");
        let matchFound = false;

        rows.forEach(row => {
            let cells = row.getElementsByTagName("td");
            let match = false;

            for (let i = 0; i < cells.length; i++) {
                if (cells[i].textContent.toLowerCase().includes(input)) {
                    match = true;
                    break;
                }
            }

            if (match) {
                row.style.display = "";
                matchFound = true;
            } else {
                row.style.display = "none";
            }
        });

        // Show or hide the "No records found" message
        if (matchFound) {
            noRecordsMessage.style.display = "none";
        } else {
            noRecordsMessage.style.display = "table-row";
        }
    });


    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });


</script>






