@model IEnumerable<FileUpload.Models.FileUploadModal>

@{
    ViewData["Title"] = "File Upload and List";
    var ModelList = Model.ToList();
}


<style>
    .form {
        margin:auto;
        background-color: #fff;
        box-shadow: 0 10px 60px rgb(218, 229, 255);
        border: 1px solid rgb(159, 159, 160);
        border-radius: 20px;
        padding: 1rem .7rem .7rem .7rem;
        text-align: center;
        font-size: 1.125rem;
        max-width: 70vw;
    }

    .form-title {
        color: #000000;
        font-size: 1.8rem;
        font-weight: 500;
    }


    .drop-container {
        background-color: #fff;
        position: relative;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 1rem 0rem;
        border-radius: 10px;
        border: 2px dashed rgb(171, 202, 255);
        color: #444;
        cursor: pointer;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }

        .drop-container:hover {
            background: rgba(0, 140, 255, 0.164);
            border-color: rgba(17, 17, 17, 0.616);
        }

            .drop-container:hover .drop-title {
                color: #222;
            }

    .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color .2s ease-in-out;
    }

    .file-input {
        width: 350px;
        max-width: 100%;
        color: #444;
        padding: 2px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid rgba(8, 8, 8, 0.288);
    }

        .file-input::file-selector-button {
            margin-right: 20px;
            border: none;
            background: #084cdf;
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;
        }

            .file-input::file-selector-button:hover {
                background: #0d45a5;
            }
</style>




<div class="row">
    <div class="form-div">

        <form asp-action="Upload" asp-controller="FileUpload" id="uploadForm" enctype="multipart/form-data" method="post" class="form">
            <span class="form-title">Upload your file</span>

            <label for="fileInput" class="drop-container" type="file">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" name="file" required id="fileInput" class="file-input" value="null" />
            </label>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" id="uploadButton" disabled />
            </div>
        </form>


        
    </div>
    <div class="alert alert-danger" style="display: none;" id="error-message"></div>
    <div class="alert alert-success" style="display: none;" id="success-message"></div>
    <div class="Error">
        @ViewBag.Message
    </div>
    <div class="Success">
        @ViewBag.MessageSuccess
    </div>
</div>

<hr />
<h2>Uploaded Files</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No records found.
    </div>
}
else
{
    <div class="table-div">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Type</th>
                    <th>Uploaded On</th>
                    <th>
                        <div class="buttons">
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td style="max-width:7rem">

                            @if (file.Extention == ".xls" || file.Extention == ".xlsx")
                            {
                                <img src="/Images/Excel-logo.jfif" style="max-width:80%" />
                            }
                            else
                            {
                                <img src="/CompressedUploads/@file.Filename" style="max-width:100%" />
                            }
                        </td>
                        <td>@file.OriginalFilename</td>
                        <td>@file.FileSize KB</td>
                        <td>@file.FileType</td>
                        <td>@file.UploadedOn.ToString("g")</td>
                        <td>
                            <div class="buttons">
                                <a asp-action="Details" asp-route-id="@file.Id" class="btn btn-secondary">View Details</a>

                                <a asp-action="Download" asp-route-id="@file.Id" class="btn btn-info">Download</a>

                                <a href="javascript:void(0);" onclick="confirmDelete('@Url.Action("Delete", "FileUpload", new { id = file.Id })')" class="btn btn-danger">Delete</a>
                            </div>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>

    const fileInput = document.getElementById('fileInput');
    const uploadButton = document.getElementById('uploadButton');

    fileInput.addEventListener('change', function() {
        if (fileInput.files.length > 0) {
            uploadButton.disabled = false;
        } else {
            uploadButton.disabled = true;
        }
    });
</script> 